<nav aria-label="Navigation buttons" class="mb-5">
  <ul class="pagination justify-content-center">
    <li class="page-item">
			@if (page == 1) {
				<a class="page-link disabled" [routerLink]="['/home']" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			} @else {
				<a class="page-link" [routerLink]="['/home']" [queryParams]="{page:page - 1}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			}
    </li>

    @for (pageNum of getPageNumbers(); track pageNum) {
      <li class="page-item">
        <a class="page-link" [class.active]="pageNum == page" [routerLink]="['/home']" [queryParams]="{page:pageNum}">{{pageNum}}</a>
      </li>
    }

    <li class="page-item">
			@if (page == totalPages) {
				<a class="page-link disabled" [routerLink]="['/home']" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
			} @else {
				<a class="page-link" [routerLink]="['/home']" [queryParams]="{page:page + 1}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a>
			}
    </li>
  </ul>
</nav>